page-login {
	ion-content{
		.login-greeting, {
			font-family: "Comic Sans MS", cursive, sans-serif;
			color: #4991e3;
			font-style: oblique;
			font-weight: bold;
			font-size: 1.4em;
			text-align: center;
		}
		.facebook-button{
			background: blue;
		}
		.google-button{
			background: red;
		}
		.guest{
			text-align: center;
			color: blue;
			text-decoration: underline;
		}
	}
}
