page-login {

	ion-content{
		.facebook-button{
			background: blue;
		}
		.google-button{
			background: red;
		}
		.guest{
			text-align: center;
			color: blue;
			text-decoration: underline;
		}
	}
}
